.hoverCardContainer {
    width: 250px;
    padding: 40px 30px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

.hoverCardContainer .logo {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 56, 73);
    font-size: 100px;
    font-weight: 800;
    color: white;
    transition: all .5s;
}

.hoverCardContainer:hover .logo {
    height: 60px;
    width: 60px;
    font-size: 20px;
    background-color: white;
    color: rgb(0, 56, 73);
    border-radius: 50%;
    border: 1px solid rgb(0, 56, 73);
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
}

.hoverCardContainer .content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hoverCardContainer .content p {
    font-size: 14px;
}

.hoverCardContainer .content a {
    font-size: 14px;
    font-weight: 800;
    border: 1px solid rgb(0, 56, 73);
    color: rgb(0, 56, 73);
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding: 10px;
    text-decoration: none;
    margin-top: 10px;
    transition: all .3s;
}

.hoverCardContainer .content a:hover {
    background-color: rgb(0, 56, 73);
    color: white;
}