.fourSide {
    padding: 40px 80px;
    font-family: sans-serif;
    color: #262626;
    text-decoration: none;
    font-size: 45px;
    letter-spacing: 2px;
    border: 5px solid #262626;
    position: relative;
    transition: 1s;
}

.fourSide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #262626;
    transition: 1s;
    transform: rotateX(90deg);
    z-index: -1;
}

.fourSide::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #262626;
    transition: 1s;
    transform: rotateY(90deg);
    z-index: -1;
}

.fourSide:hover::after{
    transform: rotateY(0deg);
}

.fourSide:hover::before{
    transform: rotateX(0deg)
}

.fourSide:hover {
    color: white;
}