.swipeRightContainer {
    height: 500px;
    width: 500px;
    position: relative;
    overflow: hidden;
}

.swipeRightContainer img {
    width: 100%;
    transition: all .5s;

}

.swipeRightContainer .caption {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white ;
    transition: all .5s;
    transform: translateX(-100%);
}

.swipeRightContainer .caption h1 {
    text-transform: uppercase;
    margin: 0;
}

.swipeRightContainer .caption p {
    font-size: 18px;
    text-transform: capitalize;
}

.swipeRightContainer:hover img {
    transform: rotate(15deg) scale(1.2);
}

.swipeRightContainer:hover .caption {
    transform: translateX(0);
 }