* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.secondTextMenuContainer {
    display: flex;
    flex-wrap: wrap;
}

.secondTextMenuContainer li {
    list-style: none;
    margin: 0px 20px;
}

.secondTextMenuContainer li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 20px 60px;
    position: relative;
    overflow: hidden;
}

.secondTextMenuContainer li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: orange;
    transform: translateX(-100%);
    transition: all .5s .3s ease-in-out;
}

.secondTextMenuContainer li a:hover::before {
    transform: translateX(0%);
}

.secondTextMenuContainer li a span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}

.secondTextMenuContainer li a:hover span:nth-child(1) {
    transform: translateY(-100%);
}

.secondTextMenuContainer li a span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: all .3s;
}

.secondTextMenuContainer li a:hover span:nth-child(2) {
    transform: translateY(0);
}
