.bottomBorderCard {
    max-width: 320px;
    margin: auto;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.bottomBorderCard .content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bottomBorderCard .content h2,
p,
a {
    color: #aaa;
    transition: all 0.5s;
}

.bottomBorderCard .content h2 {
    font-size: 20px;
}

.bottomBorderCard .content p {
    font-size: 14px;
}

.bottomBorderCard .content a {
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: fit-content;
    width: fit-content;
    padding: 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.bottomBorderCard::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background-color: rgb(255, 77, 107);
}

.bottomBorderCard::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 77, 107);
    z-index: -1;
    transform: translateY(100%);
    transition: all .5s;
}
.bottomBorderCard:hover::after {
    transform: translateY(0);
}

.bottomBorderCard:hover {
    color: white !important;
}

.bottomBorderCard:hover .content p {
    color: white;
    transition-delay: .2s;
}

.bottomBorderCard:hover .content a {
    color: white;
    transition-delay: .2s;
}

.bottomBorderCard:hover .content h2 {
    color: white;
    transition-delay: .2s;
}
