.scaleBgContainer {
    height: 500px;
    width: 500px;
    position: relative;
}

.scaleBgContainer img {
    width: 100%;
    transition: all 0.3s;
}

.scaleBgContainer:hover img {
    transform: scale(0) rotate(360deg);
}

.scaleBgContainer::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    transform: scale(0) rotate(360deg);
    transition: all .3s .3s ease-in-out;
    opacity: 0;
}

.scaleBgContainer .caption {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

}

.scaleBgContainer:hover::before {
    transform: scale(1) rotate(0deg);
    opacity: 1;
}