.blurMenuContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.blurMenuContainer:hover a {
    filter: blur(5px);
    opacity: 0.2;
}

.blurMenuContainer li {
    list-style: none;
    margin: 0px 20px;
    transition: 0.5s;
}

.blurMenuContainer li a {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 5px;
    font-size: 23px;
    color: black;
    text-transform: uppercase;
    transition: all 0.3s;
}

.blurMenuContainer li a:hover {
    transform: scale(1.5);
    opacity: 1;
    filter: blur(0);
}

.blurMenuContainer li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ee5a24;
    z-index: -1;
    transform: scale(0);
}

.blurMenuContainer li a:hover::before {
    transform: scale(1);
}

