.scroll_container {
    height: 100vh;
    width: 100vw;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_container {
    height: 400px;
    width: 400px;
}

.icon {
    height: 100%;
    width: 100%;
}